body{
    padding-right: 15%;
    padding-left: 15%;
}
a {
  text-decoration: none; /* no underline */
  color: inherit;
}
h1{
    color: blueviolet;
}
.background{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.search{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}
.search-form{
    text-align: center;
}
input[type=text]{
    padding: 5px;
    display: inline-block;
    border: 1px solid blueviolet;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    padding: 5px;
    border: 1px solid blueviolet;
    display: inline-block;
    background: blueviolet;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
}
.container-recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 30px;
}
.container-item {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 400px;
    height: 200px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    cursor: pointer;
    gap: 3px;
    align-items: start;
    transition: all .4s ease;
}
.container-item:hover {
    box-shadow: 5px 5px 10px rgb(138, 43, 226, .3);
    color: black;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}
.container-item img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.recipe-photo{
    grid-column: 1/3;
    grid-row: 1/4;
}
.recipe-photo img{
    border-radius: 5px;
}
.recipe-title{
    grid-column: 3/5;
    grid-row: 1/2;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 22px;
}
.recipe-description{
    grid-column: 3/5;
    grid-row: 2/3;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.recipe-prepTime{
    grid-column: 3/5;
    grid-row: 3/4;
    padding-left: 5px;
    padding-right: 5px;
}
.recipe-likes{
    grid-column: 1/2;
    grid-row: 4/5;
    padding-left: 5px;
    padding-right: 5px;
}
.like-form{
    grid-column: 2/3;
    grid-row: 4/5;
}
.recipe-edit{
    grid-column: 3/4;
    grid-row: 4/5;
}
.recipe-delete{
    grid-column: 4/5;
    grid-row: 4/5;
}
.form-add-new-recipe{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}
.form-create-new-recipe{
    float: left;
}